@import "../../helpers/breakpoints";

.card {
  bottom: inherit;
  height: 240px;
  position: absolute;
  top: 175px;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 365px;

  @include breakpoint(desktop-up) {
    bottom: 155px;
    top: inherit;
  }

  &.is-flipped {
    transform: rotateY(180deg);
  }

  .number {
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 30px;
  }

  .group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    text-transform: uppercase;
    width: 100%;
  }
}

.card_face {
  align-items: center;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  position: absolute;
  text-shadow: 1px 1px 2px #000;
  width: 100%;
}

.card_front {
  background-image: url("../../images/card.png");

  &.card_filled {
    background-image: url("../../images/card-filled.png");
  }

  &:before {
    content: "";
    display: none;
    height: 70px;
    left: 40px;
    position: absolute;
    top: 20px;
    width: 70px;
  }

  &.mastercard:before {
    background-image: url("../../images/mastercard-icon.png");
    display: block;
  }

  &.visa:before {
    background-image: url("../../images/visa-icon.png");
    display: block;
  }
}

.card_back {
  background-image: url("../../images/card-back.png");
  transform: rotateY(180deg);
}

.content_card {
  height: 100%;
  position: relative;
  width: 100%;

  .cvv {
    color: #000;
    font-size: 13px;
    left: 184px;
    position: absolute;
    text-shadow: none;
    top: 111px;
  }
}
