@import "./variables";

.checkout {
  background-color: $white;
  border: 1px solid $gray_l;
  display: flex;
  margin: auto;
  max-width: 1024px;
  min-height: 596px;

  aside {
    background-color: $red;
    width: 352px;
  }
}
