@import "./helpers/variables";

@import "./helpers/breakpoints";

.checkout {
  background-color: $white;
  border: 1px solid $gray_l;
  max-width: 1024px;
  min-height: 596px;
  position: relative;

  @include breakpoint(desktop-up) {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    margin: 100px auto auto;
  }

  aside {
    align-items: center;
    background-color: $red;
    color: $white;

    display: flex;
    flex-direction: column;
    padding-bottom: 180px;
    text-align: right;

    @include breakpoint(desktop-up) {
      display: block;
      padding: 16px 16px 16px 60px;
      width: 276px;
    }

    .title,
    .backSelectPayment {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }

    .backSelectPayment {
      font-size: 13px;
      line-height: 25px;
    }

    .title {
      margin-top: 40px;

      &:before {
        background-image: url("./images/title.png");
        content: "";
        display: inline-block;
        height: 50px;
        margin-right: 10px;
        min-width: 50px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    padding: 50px 5%;
    width: 90%;

    @include breakpoint(desktop-up) {
      padding-left: 168px;
      padding-right: 62px;
      padding-top: 50px;
      width: 100%;
    }

    .steps {
      align-items: center;
      color: $red;
      display: flex;
      justify-content: space-evenly;
    }

    .step {
      align-items: center;
      display: flex;

      i {
        border: 1px solid $red;
        border-radius: 50%;
        display: inline-block;
        font-size: 13px;
        font-style: normal;
        height: 22px;
        line-height: 22px;
        margin-right: 10px;
        padding: 2px;
        text-align: center;
        width: 22px;
      }

      &.active i {
        background-color: $red;
        color: $white;
      }
    }
  }
}
